/*
 * Rating Input Styles
 */

// Admin
.kpostmeta {
        display: block;
}
.kpostmeta label {
        display: block;
}
.kpostmeta .krating {
        position: relative;
        overflow: hidden;
        display: inline-block;
        clear: both;
}
.kpostmeta .krating-input {
        display: none;
        float: left;
        width: 16px;
        height: 16px;
}
.kpostmeta .krating-star {
        float: right;
        display: block;
        width: 16px;
        height: 16px;
        background: url('../images/ratingstar.png') 0 -16px;
}
.kpostmeta .krating-star:hover,
.kpostmeta .krating-star:hover ~ .krating-star {
        background-position: 0 0;
}
.kpostmeta .krating-star:hover,
.kpostmeta .krating-star:hover ~ .krating-star,
.kpostmeta .krating-input:checked ~ .krating-star {
        background-position: 0 0;
}

// Frontend Submission Forms
.ktestimonialform {
        overflow: hidden;
        margin: 0;
}
.krating-field {
        display: block;
        clear: both;
}
.krating-field label {
        display: block;
}
.krating-field .krating {
        position: relative;
        overflow: hidden;
        display: inline-block;
        clear: both;
}
.krating-field .krating-input {
        display: none;
        float: left;
        width: 16px;
        height: 16px;
}
.krating-field .krating-star {
        float: right;
        display: block;
        width: 16px;
        height: 16px;
        background: url('../images/ratingstar.png') 0 -16px;
}
.krating-field .krating-star:hover,
.krating-field .krating-star:hover ~ .krating-star {
        background-position: 0 0;
}
.krating-field .krating-star:hover,
.krating-field .krating-star:hover ~ .krating-star,
.krating-field .krating-input:checked ~ .krating-star {
        background-position: 0 0;
}
.ktestimonialform button#submit {
        float: left;
        clear: both;
        margin-top: 1em;
}

// Frontend Display

.kreviewstars {
        
}
.kreviewstars .kstar {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        background: url('../images/ratingstar.png') 0 -16px;
}
.kreviewstars .kstar.active {
        background-position: 0 0;
}